.paging-container {
    text-align: center;
}

.reactionbutton {
    margin-right: 5px;
}

.dropdown-menu {
    min-width: 1em;
}

.waitin {
    margin: auto;
    margin-top: 20%;
    text-align: center;
}