<div class="input-group mb-3">
  <input [(ngModel)]='foodQuery' [value]='foodQuery' type="text" class="form-control" placeholder="What we feeling like today?" aria-label="Input Food" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button (click)="getResults(foodQuery)" class="btn btn-outline-success" type="button">Button</button>
  </div>
</div>

<div id='searchContainer' class="card-deck">

  <div class="card" *ngFor="let result of results">
    <img class="card-img-top" src="{{ result.recipe.image }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ result.recipe.label }}</h5>
      <p class="card-text">{{ result.recipe.source }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>

</div>