<div id="new-dm">
    <form class="create-new-dm" (submit)="createNewDM()">
        <h3>Person to DM</h3>
        <input type="number" id="inputRecieverId" name="input-reciever-id" class="form-control" placeholder="Dan Pickles" required
        autofocus [(ngModel)]="dirMessages.user2Id">

        <h3>Message</h3>
        <input type="test" id="inputMessage" name="input-message" class="form-control" placeholder="What's up strippes" required [(ngModel)]="dirMessages.message">

        <button type="submit">Create DM</button>
    </form>
</div>
<br><br><br>
<div id="all-dms">
    <table class="table" id="all-dms-table">
        <thead>
            <tr>
                <th scope="col">User1</th>
                <th scope="col">User2</th>
                <th scope="col">UserMessage</th>
            </tr>
        </thead>
        <tbody id="all-dms-body">
            <tr *ngFor="let allDirMsg of allDirMsgs">
                <td>{{allDirMsg.user1Id}}</td>
                <td>{{allDirMsg.user2Id}}</td>
                <td>{{allDirMsg.message}}</td>
            </tr>
        </tbody>
    </table>
</div>