<form class="form-signin" (submit)="submit()" id="logform">
    <h1 class="h3 mb-3 font-weight-normal">Follow!</h1>
    <label for="inputUsername" class="sr-only">username</label>
    <input type="text" id="inputUsername" 
        name="input-username"
        class="form-control" 
        placeholder="username" 
        required autofocus
        [(ngModel)]="credentials.username">
    <label for="inputPassword" class="sr-only">Password</label>
    <button class="btn btn-lg btn-secondary btn-block" type="submit">Follow Friend</button>
</form>

<div class="container2">
    <h1 style="text-decoration: underline;">Following</h1>
    <li *ngFor="let user of currentTable">
        {{user.username}}
    </li>
</div>